<script>
window.PUB_DB = [
{{ $pages := where site.RegularPages "Section" "publications" }}
{{ $len := len $pages }}

{{ range $i, $p := $pages }}
{
  id: {{ $p.File.TranslationBaseName | jsonify }},
  title: {{ $p.Title | jsonify }},
  url: {{ $p.RelPermalink | jsonify }},
  type: {{ $p.Params.type | default "" | jsonify }},
  year: {{ $p.Params.year | default 0 }},
  area: {{ $p.Params.area | default "" | jsonify }},
  keywords: {{ $p.Params.keywords | default (slice) | jsonify }},
  related: {{ $p.Params.related | default (slice) | jsonify }},
  status: {{ $p.Params.status | default "" | jsonify }}
}
{{ if lt (add $i 1) $len }},{{ end }}
{{ end }}
];
</script>